<h1>English#help</h1>
<p>Find me in app/views/english/help.html.erb</p>
<%= @true_count %>
<%= @false_count %>
<%= @total_count %>
<p><b><%= link_to 'Next Question!', :controller => :english, :action => :study %></b></p>
